@page "/school/count-by-school"
@inject HttpClient httpClient

<h3>Student Count By School</h3>

@if (schoolCount == null) {
<p><em>Loading...</em></p>
} else {
<table class='table table-hover'>
  <thead>
    <tr>
      <th>School</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in schoolCount) {
    <tr>
      <td>@item.Key</td>
      <td>@item.Value</td>
    </tr>
    }
  </tbody>
</table>
}

@code {

    Dictionary<string, int> schoolCount;
    

protected override async Task OnInitializedAsync() {
    await load();
  }
    
  protected async Task load() {
    schoolCount = await httpClient.GetFromJsonAsync<Dictionary<string, int>>($"{Constants.BASE_URL}api/students/count-by-school");
  }

}
